.idea
__pycache__/
*.py[cod]
.ipynb_checkpoints
input/*
*.pth
./deployment/4CKOMI65.dcm
../deployment/BOTE44.dcm
./deployment/PIMI41ACIMEAPIN2C.dcm
/deployment/__pycache__/
/deployment/main.py
/deployment/state_dict.pth
deployment/test_0_00029.dcm
deployment/test_0_00029_state_dict.pth
Train_eco_batch16.ipynb
Train_eco_multiFC.ipynb
checkpoints/
results/
test_heatmap.ipynb
test_inv_class-Copy1.ipynb
test_inv_class.ipynb
sacco
